@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --raspberry:#e2111f;
  --raspberry-dark:#551023;
}
html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
*, *::before, *::after {
  box-sizing: border-box;
}

body{@apply bg-gray-50 font-sans;}
